<div style="margin-right: 20px;margin-left: 20px;">
<table width="100%" height="100%">

    <tr>
        <th class="first1"></th>
        <th id="myDIV" class="second1" colspan="3"><p class="about">Need to know About Us?</p></th>
        <th class="third1"></th>
    </tr>
     <tr>
            <th id="myDIV1" class="first2"></th>
            <th class="scnd"></th>
            <th class="second2" colspan="2"><p class="des1">We are here for you.</p>
                
           </th>
            <th class="third2"></th>
    </tr>
    <tr>
        <th class="first3"></th>
        <th class="second3">
            <mat-card class="example-card" style="width:280px;height: 260px;margin-right: 10px;margin-left: 10px;">
                <mat-card-header>
                  <mat-card-title>We Are</mat-card-title>
                  
                </mat-card-header>
               <mat-card-content>
                  <p>
                    
                  </p>
                </mat-card-content>
              </mat-card>
              


        </th>
      <th class="third3">
        <mat-card class="example-card" style="width:280px;height: 260px;margin-right: 10px;margin-left: 10px;">
            <mat-card-header>
              <mat-card-title>What We Do</mat-card-title>
              
            </mat-card-header>
           <mat-card-content>
              <p>
                
              </p>
            </mat-card-content>
          </mat-card>


      </th>       
       <th class="ft"><img src="./assets/img/5.png" alt="Girl in a jacket" width="280px" height="260px" style="margin-right: 10px;margin-left: 10px;"></th>
       <th id="myDIV2" class="ff"></th>
    </tr> 
</table>
</div>
