<!--Name-->
<div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="W.Henry Fernando">
    </div>
  </div>
  
  <!--Username-->

  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" placeholder="Text input" value="Kindman">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help is-success">This username is taken</p>
  </div>

  <!--Email-->
  
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p class="help is-danger">This email is invalid</p>
  </div>

  <!--Blood group drop down menu-->
  
  <div class="field">
    <label class="label">Blood group</label>
    <div class="control">
      <div class="select">
        <select>
          <option>A+</option>
          <option>A-</option>
          <option>B+</option>
          <option>B-</option>
          <option>AB+</option>
          <option>AB-</option>
          <option>O+</option>
          <option>O-</option>
        </select>
      </div>
    </div>
  </div>

  <!--Height-->
  <div class="field">
    <label class="label">Height</label>
    <div class="control">
      <input class="input" type="text" placeholder="1">
      <select>
          <option>m</option>
          <option>foot</option>
      </select>
      <input class="input" type="text" placeholder="30">
      <select>
          <option>cm</option>
          <option>inch</option>
      </select>
    </div>
  </div>

  <!--Weight-->

  <!--having long term disease-->

  <div class="field">
    <label class="label">Are you suffering from any long-term disease ?</label>
    <div class="control">
      <label class="radio">
        <input type="radio" name="AnyLongTermDisease" value="Yes">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="AnyLongTermDisease" value="No">
        No
      </label>
    </div>
  </div>

  <!--Type of long term disease-->

  <div class="field">
    <label class="label">What is the disease/diseases ?</label>
    <div class="control">
      <input class="input" type="text" placeholder="Eg.Diabitics">
    </div>
  </div>

  <!--Agreement Accept-->

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>
  
  <!--Submit and Cancel Buttons-->

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
